body {
    background-color: #14161a;
    color: #e0e0e0;
    font-family: 'Zilla Slab', sans-serif;
}

.panel {
    background-color: #181b20;
    border: none; /* Remove default Bulma border */
}

.panel-heading {
    background-color: #181b20;
    color: #e0e0e0;
    font-size: 1.8rem;
    padding: 1.5rem;
    display: flex;
    align-items: center; /* Vertically align icon and text */
}

.panel-block {
    padding: 1rem 1.5rem;
    color: #cccccc;
    transition: all 0.2s ease;
    display: flex; /* Enable flexbox for alignment */
    align-items: center; /* Vertically align icon and text */
    padding: 0.5rem 0;
    line-height: 3rem;
}

.panel-block    img {
    margin-right:3px ;
    height: 20px ;


}


.input.is-link {
    background-color: #14161a;
    color: #e0e0e0;
    border-color: #ffffff;
}

.input.is-link::placeholder {
    color: #999;
}

.icon.is-left {
    color: #999;

}

/* Correct placement for html background color */
html {
    background-color: #121212; /* Same dark gray as the body */
}

.panel-block a {
    color: #e0e0e0;
    transition: all 0.2s ease; /* Smooth transition for all properties */
    display: block; /* Ensure the link area covers the entire line */
    padding: 0.5rem 0;
    line-height: 4rem;

    font-size: 1.2rem;/* Add some top/bottom padding for hover effect */
}

.panel-block a:hover {
    background-color: #001f3f; /* Dark blue background on hover */
    color: #f0f0f0; /* Slightly lighter text on hover (optional) */
}

.zilla-slab-light {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: normal;
}

.zilla-slab-regular {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
}

.zilla-slab-medium {
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    font-style: normal;
}

.zilla-slab-semibold {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: normal;
}

.zilla-slab-bold {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: normal;
}

.zilla-slab-light-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 300;
    font-style: italic;
}

.zilla-slab-regular-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: italic;
}

.zilla-slab-medium-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 500;
    font-style: italic;
}

.zilla-slab-semibold-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 600;
    font-style: italic;
}

.zilla-slab-bold-italic {
    font-family: "Zilla Slab", serif;
    font-weight: 700;
    font-style: italic;
}


.panel-heading img {
    height: 3.5rem; /* Adjust icon size as needed */
    margin-right: 2rem; /* Add spacing between icon and text */
}

.panel-heading img:first-child {
    border: 1px solid #828282; /* Example: 2px white border */
    border-radius: 20%; /* Make the border circular */
    background-color: #2a2d34; /* Example: blue background */
    padding: 5px; /* Example: 5px padding */
}

